article.support {

  .Hero {
    &:after {
      background-color: get-color(purple);
    }

    &:before {
      background-color: get-color(gold);
      width: 65%;
    }

    .Hero-title {
      @include color(white);

      span {
        transform: rotate(-90deg);
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }


  .FiftyFifty {

    [class^='is-'],
    [class*=' is-'] {
      display: flex;
      justify-content: space-evenly;

      &:first-child {
        @include color(white);
      }

      &:last-child {
        @include color(purple);
      }
    }

    &:before {
      background-color: get-color(purple);
    }

    button,
    a {
      @include transition(color normal ease);
      color: inherit;

      &:after {
        display: none;
      }

      &:hover,
      &:focus,
      &:active {
        @include color(light-gray);
      }

    }

    button {
      border: 0;
      background: transparent;
    }

  }

}
