footer {
  @include padding(5x 12x);
  @include color(white);
  background-color: get-color(black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@include media('<small') {

  footer {
    @include padding(3x 6x);
  }

}

@include media('<x-small') {

  footer {
    flex-direction: column;
    justify-content: center;

    div {
      text-align: center;
      margin-bottom: _(3x);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
