//----------------------------------------------------------------------
//
// Buttons
//
//----------------------------------------------------------------------

$buttons-border-width: 2px;
$buttons-height: 5x;
$buttons-padding: 3x;
$buttons-radius: 3px;

$buttons-background-color: 'accent';
$buttons-border-color: transparent;
$buttons-text-color: 'white';

$buttons-hover-background-color: 'accent';
$buttons-hover-border-color: transparent;
$buttons-hover-text-color: 'white';
