//----------------------------------------------------------------------
//
// Grid
//
//----------------------------------------------------------------------

$grid-columns: 12;

$grid-breakpoints: (

	'normal': ('small', 'medium', 'large')

);

$grid-gaps: (

	'small':  2x,
	'normal': 3x,
	'large':  4x

);
